@import '../../../style//mixin';

.DayDetail {
  background-color: rgba(148, 78, 189, 0);
  width: 300px;
  margin: 0 auto 1.5rem auto;
  border-top: 1px solid white;

  @include for-size(phone) {
    width: 200px;
  }

  & img {
    height: 2rem;
  }

  &__arrow {
    height: 1rem !important;
    margin: 0 1rem;
  }

  & div {
    display: flex;
    align-items: center;
  }

  & h3 {
    margin: 0.5rem 0;
    font-weight: 400;
  }

  &__time {
    font-weight: 300;
    font-size: 1.5rem;
  }

  &__moonPhase {
    & img {
      margin: 0 0.5rem 0 0;
      opacity: 0.4;
    }
  }

  &__alerts {
    flex-flow: column;
    align-items: flex-start !important;

    & p {
      margin-bottom: 0.5rem;
    }
  }

  &__chart {
    flex-wrap: wrap;

    @include for-size(phone) {
      justify-content: space-between;

    }



    &Wrapper {
      position: relative;
      flex-flow: column;
      margin-left: 1rem;

      @include for-size(phone) {
        flex-flow: row;
        margin-left: 0;
        width: 30%;

        & h3 {
          font-size: .9rem;
          transform: rotate(-180deg);
          background-color: #198ee2;
          border-radius: 2px;
          padding: 3px;
          writing-mode: vertical-rl;
          height: 6rem;
          width: 2rem;
          text-align: center;
        }

      }

    }

    &Container {
      width: 100px;

      @include for-size(phone) {
        width: 50px;
      }

      position: relative;

      & span {
        font-size: 1.5rem;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 30%;

        @include for-size(phone) {
          bottom: 25%;
          font-size: 1.1rem;
        }
      }
    }
  }
}