@import '../../../style/mixin';

.Spinner {
  position: absolute;
  width: 100%;

  &>div {
    z-index: 99;
    position: relative;
    margin: 0 auto;

  }

  &__main {
    height: 100vh;
    background-color: #4bb4f5;
    z-index: 99;

    &>div {
      width: 100px;
      top: 40vh;
    }
  }

  &__hourly {
    z-index: 9;
    height: 100%;

    &>div {
      left: 50%;
      margin-left: -50px;

      @include for-size(phone) {
        margin-left: -25px;
      }

      top: 50%;
      margin-top: -50px;
    }
  }
}