.DailyContainer {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 20px 10px;
    min-width: 120px;
    margin: 0 15px;

    &>* {
        margin-bottom: .6rem;
    }

    &__heading {
        font-weight: 300;
    }

    &__icon img {
        height: 2rem;
    }

    &__summary {
        font-size: .80rem;
        font-weight: 300;
        text-transform: capitalize;
    }

    &__degree {
        position: relative;


        &-min {
            position: absolute;
            bottom: 80px;
            left: 81px;
            width: 5px;
        }

        &-max {
            position: absolute;
            bottom: 85px;
            left: 45px;
            width: 8px;
        }
    }


    &__temp {

        & span {
            font-size: 1.7rem;
            color: #fff;
            margin-right: 20px;
        }

        color: rgb(201, 225, 231);
    }
}