.HourlyContainer {
    position: relative;
    padding: 1.2rem 1rem;
    background-color: rgba(168, 25, 25, 0);
    width: 120%;
    margin: 0 15px;
    height: 3rem;

    &>* {
        margin-bottom: .6rem;
    }
}